<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet">
 <style>
   .slick-slide {
    	height:510px;
     
   }
   .slick-slide img {
     
    	margin:auto; 
     height:100%;
   }
   .slick-dots li.slick-active button:before, .slick-dots li button:hover:before {
     background: #a73a36;
    box-shadow: 0 0 0 1px #993836;
   }
   .slick-dots li button:before {
         font-size: unset;
    opacity: unset;
    width: 12px;
    height: 12px;
    border: 1px solid #9f3937;
    background: rgb(37 41 54);
    border-radius: 100%;
    margin: 16px 4px 5px;
   }
   @media(max-width:600px){
    	.slick-slide img {
         	width:100%;
            height:auto;
        }
     .slick-slide {
          height: auto;
      }
     .hero-login-form.mx-auto.shadow.p-4.rounded.mt-5.mt-lg-0.ok-slider.slick-initialized.slick-slider.slick-dotted {
       padding-top:75px !important; 
     }
   }
</style>
<section
                class="hero-4-bg position-relative bg-light"
                id="home"
                style="background:radial-gradient(circle, #252936 0%, #252936 50%, #333744 100%)"
            >
                <div class="container">
                    <div class="align-items-center justify-content-center row">
                        <div class="col-lg-6">
                            <div class="xAnim">
                                <p class="text-uppercase font-weight-bold f-14 mb-4">Electric Scooters</p>
                                <h1 class="hero-4-title mb-4 line-height-1_4">Your commute made easy. </h1>
                                <p class="text-muted mb-4 pb-3">Enjoy your ride with our high-performance electric scooters at unbeatable prices. </p>
                                <p class="text-muted mb-4 pb-3">Portable, fun and fast - Ditch the car and go e-scoot with we-scoot!</p>
                                <a class="btn btn-primary" style="display:inline-block;" href="/collections/all">Buy now <span class="ml-2 right-icon">→</span></a>
                            </div>
                        </div>
                        <div class="col-lg-6" style="height:550px;">
                           <div class="hero-login-form mx-auto shadow p-4 rounded mt-5 mt-lg-0 ok-slider" style="position: relative;display: flex;align-items: center;justify-content: center;">
                             <div class="slide">
                                <img src="https://cdn.shopify.com/s/files/1/0639/4101/7854/products/H86193d0221aa42b9adbef8d8ca5c357eB.png?v=1650447057&width=360">          

                             </div>
                             <div class="slide">
                             	<img src="https://cdn.shopify.com/s/files/1/0639/4101/7854/products/H875a3298afa24575b5b1cfa99415aaabO.png?v=1650436252">          
                             </div>
                             <div class="slide">
                                 <img src="https://cdn.shopify.com/s/files/1/0639/4101/7854/products/H481e0292f34b418193f7a6b91bca05836.png?v=1650458988&width=823">          

                             </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<script>
  $(document).ready(function(){
  	$('.ok-slider').slick({
      dots: true,
      infinite: true,
      speed: 300,
      arrows:false,
      slidesToShow: 1,
      slidesToScroll: 1,
      autoplay:true
    });
  });

		
</script>
