<style>
  .headshot {
    width:100px;
    height:100px !important;
    border-radius:100%;
    margin-left:0 !important;
    margin-bottom:10px !important;
  }
  .col-4 {
    -webkit-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
}
  .reviews-heading {
    padding-top: 75px;
}
  .slick-dots li.slick-active button:before, .slick-dots li button:hover:before {
    background: #a73a36;
    box-shadow: 0 0 0 1px #993836;
}
  .slick-dots li button:before {
    font-size: unset;
    opacity: unset;
    width: 12px;
    height: 12px;
    border: 1px solid #9f3937;
    background: rgb(37 41 54);
    border-radius: 100%;
    margin: 16px 4px 5px;
}
  .col-8 {
    -webkit-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
    max-width: 66.66667%;
}
  h2.hero-4-title.mb-4.line-height-1_4 {
    font-size: 32px;
    line-height: 110%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
    margin-top:0;
}
.f-14 {
    font-size: 14px;
    color: #9b9bae;
    text-transform: uppercase;
    font-weight: bold;
}
  .reviews-slider .slick-dots {
   	    text-align: left;
    padding-left: 50px; 
  }
  .reviews-heading {
   	padding-left:50px; 
  }
  span.star {
      display: block;
      margin-bottom: 15px;
      margin-top: 15px;
  }
  .reviews-slider {
   	padding-top:50px;
    padding-bottom:50px;
    padding-right:0 !important;
  }
  .reviews-slider .slick-slide {
   	height:auto !important; 
  }
  .reviews-slider p {
   	color:#9a9aac; 
    max-width:150px;
  }
  .reviews-heading {
   	padding-top:75px; 
  }
  @media(max-width:600px){
   	.reviews-wrapper .col-4,
	.reviews-heading .col-4{
     	display:none; 
    }
    .reviews-wrapper .col-6,
    .reviews-heading .col-4{
     	width:calc(100% - 25px); 
    }
    .reviews-heading {
     	padding-left:0; 
    }
    .reviews-wrapper .col-8 {
      max-width:100%;
      width:100%;
      flex:100%;
    }
    .reviews-wrapper .slick-slide img {
     	width:50px !important;
      height:50px !important;
    }
    .reviews-heading {
     	padding:50px 0px 5px 0px;
    }
    .reviews-wrapper .col-8 {
     	padding-left:0; 
    }
    .reviews-wrapper {
        padding: 0 15px;
    }
    .reviews-slider .slick-dots {
     	padding-left:0px; 
    }
    .reviews-slider .slick-list.draggable {
     	padding:0 !important; 
    }
  }
</style>
<div class="reviews-heading" style="display:flex;">
   <div class="col-4">
    
  </div>
  <div class="col-8">
    <p class="text-uppercase font-weight-bold f-14 mb-4">Reviews</p>
    <h2 class="hero-4-title mb-4 line-height-1_4">What our customers say</h2>
  </div>
</div>
<div class="reviews-wrapper" style="display:flex;">
  <div class="col-4">
    
  </div>
   <div class="reviews-slider col-8">
  		<div class="review-slide">
            
            <img src="https://cdn.shopify.com/s/files/1/0639/4101/7854/files/esther-parker.jpg?v=1650894070" class="headshot" />
          <h5>Esther .P</h5>  
          <span class="star">
          	<svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
            </span>
            <p>Iimpressed with the build quality :)</p>
     	</div>
        <div class="review-slide">
           
            <img src="https://cdn.shopify.com/s/files/1/0639/4101/7854/files/468400_632885243406353_2096517253_o.jpg?v=1650894340" class="headshot" />
			 <h5>Sam .J</h5>	
          <span class="star">
          	<svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
            </span>
            <p>Fast and reliable - couldn't be happier.</p>
     	</div>
        <div class="review-slide">
            
            <img src="https://cdn.shopify.com/s/files/1/0639/4101/7854/files/266904098_611946746757774_7643530475873222275_n.jpg?v=1650894340" class="headshot" />
			<h5>Marianna .M</h5>	
          <span class="star">
          	<svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
            </span>
            <p>Love my new E Scooter :)</p>
     	</div>
       <div class="review-slide">
            
            <img src="https://cdn.shopify.com/s/files/1/0639/4101/7854/files/175621344_284241516575680_4564105248722122093_n.jpg?v=1650894340" class="headshot" />
			<h5>Pete .C</h5>	
         <span class="star">
          	<svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
            </span>
            <p>No more petrol for me!</p>
     	</div>
       <div class="review-slide">
            
            <img src="https://cdn.shopify.com/s/files/1/0639/4101/7854/files/262367752_1830775530452637_1620140484450900633_n.jpg?v=1650894706" class="headshot" />
			<h5>Lia .T</h5>	
         <span class="star">
          	<svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
            </span>
            <p>Awesome find! thanks E Scoot.</p>
     	</div>
        <div class="review-slide">
            
            <img src="https://cdn.shopify.com/s/files/1/0639/4101/7854/files/274144021_150929017326418_7040845157100696372_n.jpg?v=1650894706" class="headshot" />
			<h5>Simon .B</h5>	
          <span class="star">
          	<svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
              <svg width="18px" height="17px" viewBox="0 0 18 17" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><g id="Icons" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g id="Rounded" transform="translate(-273.000000, -4323.000000)"><g id="Toggle" transform="translate(100.000000, 4266.000000)"><g id="-Round-/-Toggle-/-star" transform="translate(170.000000, 54.000000)"><g><polygon id="Path" fill-rule="nonzero" points="0 0 24 0 24 24 0 24"></polygon><path d="M12,17.27 L16.15,19.78 C16.91,20.24 17.84,19.56 17.64,18.7 L16.54,13.98 L20.21,10.8 C20.88,10.22 20.52,9.12 19.64,9.05 L14.81,8.64 L12.92,4.18 C12.58,3.37 11.42,3.37 11.08,4.18 L9.19,8.63 L4.36,9.04 C3.48,9.11 3.12,10.21 3.79,10.79 L7.46,13.97 L6.36,18.69 C6.16,19.55 7.09,20.23 7.85,19.77 L12,17.27 Z" id="🔹-Icon-Color" fill="#f44336"></path></g></g></g></g></g></svg>
            </span>
            <p>Well built seems very sturdy.</p>
     	</div>
  </div>
</div>
<script>
function getRandomNewNumber(n) {

    var arr = new Array(n);
    var last = -1;

    for (var i = 0; i < n; i++) {
      arr[i] = i;
    }

    try {
      last = window.localStorage.getItem('review-slide') || -1;
    } catch (err) {
      // Ignore.
    }

    arr = arr.filter(function (a) { return a != last; });
    var next = arr[Math.floor(Math.random() * arr.length)];

    try {
      window.localStorage.setItem('review-slide', String(next));
    } catch (err) {
      // Ignore.
    }

    return next;

  }
 var total =  jQuery('.reviews-slider').find('.review-slide:not(.slick-cloned)').length;
 rand = getRandomNewNumber(total);
  
$('.reviews-slider').slick({
  dots: true,
  infinite: true,
  speed: 300,
  arrows:false,
  slidesToShow: 4,
  slidesToScroll: 1,
  autoplay:true,
  centerMode:true,
  responsive: [
    {
      breakpoint: 1100,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 1,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1,
      }
    },
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
  
jQuery('.reviews-slider').slick('slickGoTo', rand);
		
</script>
