<section class="hero-4-bg position-relative bg-light" id="home" style="background:radial-gradient(circle, #252936 0%, #252936 50%, #333744 100%)">
                <div class="container">
                    <div class="align-items-center justify-content-center row">
                        <div class="col-lg-6">
                            <div class="">
                                <p class="text-uppercase font-weight-bold f-14 mb-4">Fast &amp; Reliable</p>
                                <h1 class="hero-4-title mb-4 line-height-1_4">We sell electric scooters</h1>
                                <p class="text-muted mb-4 pb-3">Fun, Freedom, Adventure. <br> Browse our range of high-performance electric scooters.  </p>
                                <a class="btn btn-primary" href="/layout4">View all <span class="ml-2 right-icon">→</span></a>
                            </div>
                        </div>
                        <div class="offset-lg-2 col-md-8 col-lg-4" style="height:550px;">
                           <div class="hero-login-form mx-auto shadow p-4 rounded mt-5 mt-lg-0" style="position: relative;display: flex;align-items: center;justify-content: center;">
                      <img src="https://cdn.shopify.com/s/files/1/0639/4101/7854/files/Hab29db9584064806bdd8d24fd15dff20T.png?v=1650270912" style="max-width: 500px;position: absolute;top: -150px;">          
                                
                            </div>
                        </div>
                    </div>
                </div>
            </section>
{% schema %}
  {
    "name": "banner",
    "class": "index",
    "tag": "section",
    "settings": [],
	 "presets": [
    {
      "name": "t:sections.banner.presets.name"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
