	<link rel="stylesheet" href="{{ 'alt-home.css' | asset_url }}">	
        <div id="root">
        
           {% include 'alt-banner' %}
           {% include 'offering' %}
           {% include 'reviews' %}
        </div>


